*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(32, 45, 163);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Raleway;
    
   
}

#forum{
    width: 400px;
    background-color: #fff;
    padding: 20px;
  
    
}

#head{
    text-align: center;
}

button{
    display: block;
    width: 85%;
    margin: auto;
}